<div class="card">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div style="float: right;">
            <a class="btn btn-link" routerLink="/adduser">Add New User +</a>
        </div>
        <br />
        <table *ngIf="users" class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Username</th>
                <th>Roles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.userId}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.rolePlain}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>