<div class="card">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div style="float: right;" *ngIf="isAdminUser">
            <a class="btn btn-link" routerLink="/addOrUpdateuser"  [queryParams]="{act: 'add'}">Add New User +</a>
        </div>
        <br />
        <table *ngIf="users" class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Username</th>
                <th>Roles</th>
                <th *ngIf="isAdminUser">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.userId}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.rolePlain}}</td>
                <td *ngIf="isAdminUser">
                    <span *ngIf="currentUser.username !== user.username">
                        <a class="btn btn-link" (click)="edit(user)">Edit</a>
                        <a class="btn btn-link" (click)="delete(user)">Delete</a>
                    </span>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>